body {
    background-color: wheat;
    color: black;
}

.container {
    width: 100%;
    padding-left: 5%;
  }  

.myCard {  
    float: left;
    display: inline-block;
    border: 5px solid black;
    width: 45%;
}

.myDino {  
    display: inline-block;
    border: 5px solid black;
    width: 45%;
}

h1 {
    text-align: center;
}

img {
    align-items : center;
    max-width: 95%;
    padding-left: 15px
}

p {
    padding-left: 18px;
    padding-right: 27px;
    text-align: justify;
}

footer {
    text-align: center;
}



