body {
    background-color: wheat;
    color: black;
}

footer {
    text-align: center;
}

/* MY CARD'S STYLING */

.myCard {
    width: 50%;
    border: 5px solid black;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}

